version: '3.9'

services:
  postgres:
    container_name: postgres
    image: postgis/postgis:15-3.3
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - '5432:5432'

  redis:
    container_name: redis
    image: redis:7
    ports:
      - '6379:6379'

  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    env_file:
      - .env
    environment:
      AUTH_DB: postgresql+asyncpg://admin:admin@postgres:5432/auth_db
      JWT_SECRET: supersecret
      JWT_ALGORITHM: HS256
    depends_on:
      - postgres

  user-service:
    build: ./services/user-service
    container_name: user-service
    env_file:
      - .env
    environment:
      USER_DB: postgresql+asyncpg://admin:admin@postgres:5432/user_db
    depends_on:
      - postgres

  handyman-service:
    build: ./services/handyman-service
    container_name: handyman-service
    env_file:
      - .env
    environment:
      HANDYMAN_DB: postgresql+asyncpg://admin:admin@postgres:5432/handyman_db
    depends_on:
      - postgres

  availability-service:
    build: ./services/availability-service
    container_name: availability-service
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - redis

  match-service:
    build: ./services/match-service
    container_name: match-service
    env_file:
      - .env
    environment:
      MATCH_DB: postgresql+asyncpg://admin:admin@postgres:5432/match_db
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - postgres
      - handyman-service
      - availability-service
      - redis

  gateway-service:
    build: ./services/gateway-service
    container_name: gateway-service
    depends_on:
      - user-service
      - handyman-service
      - availability-service
      - match-service
    ports:
      - '8000:8000'
