version: '3.9'

services:
  postgres:
    container_name: postgres
    image: postgis/postgis:15-3.3
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U admin -d postgres']
      interval: 5s
      timeout: 5s
      retries: 20

  redis:
    container_name: redis
    image: redis:7
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 20

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', '-q', 'ping']
      interval: 5s
      timeout: 5s
      retries: 12

  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    env_file:
      - .env
    environment:
      AUTH_DB: postgresql+asyncpg://admin:admin@postgres:5432/auth_db
      JWT_SECRET: supersecret
      JWT_ALGORITHM: HS256
    depends_on:
      postgres:
        condition: service_healthy

  user-service:
    build: ./services/user-service
    container_name: user-service
    env_file:
      - .env
    environment:
      USER_DB: postgresql+asyncpg://admin:admin@postgres:5432/user_db
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  handyman-service:
    build: ./services/handyman-service
    container_name: handyman-service
    env_file:
      - .env
    environment:
      HANDYMAN_DB: postgresql+asyncpg://admin:admin@postgres:5432/handyman_db
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  availability-service:
    build: ./services/availability-service
    container_name: availability-service
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379/0
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy

  match-service:
    build: ./services/match-service
    container_name: match-service
    env_file:
      - .env
    environment:
      MATCH_DB: postgresql+asyncpg://admin:admin@postgres:5432/match_db
      REDIS_URL: redis://redis:6379/0
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      handyman-service:
        condition: service_started
      availability-service:
        condition: service_started

  booking-service:
    build: ./services/booking-service
    container_name: booking-service
    env_file:
      - .env
    environment:
      BOOKING_DB: postgresql+asyncpg://admin:admin@postgres:5432/booking_db
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  gateway-service:
    build: ./services/gateway-service
    container_name: gateway-service
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379/0
    depends_on:
      redis:
        condition: service_healthy
      auth-service:
        condition: service_started
      user-service:
        condition: service_started
      handyman-service:
        condition: service_started
      availability-service:
        condition: service_started
      match-service:
        condition: service_started
      booking-service:
        condition: service_started
    ports:
      - '8000:8000'
